body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80vh;
	width: 100vw;
	margin: 0px;
}

h1 {
	font-size: 6vh;
	padding-top: 5vh;
}

button {
	margin: 20px 10px;
	padding: 10px 20px;
}

.player {
	position: relative;
	top: -20%;
	background-color: rgb(195, 210, 101);
	width: 20vw;
	height: 30vh;
	margin: 2vw;
}

.name-selection {
	display: none;
	flex-direction: column;
}

.player > div {
	padding-top: 5vh;
	text-align: center;
	font-size: 4vh;
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.game-content {
	background-color: beige;
	height: 60vh;
	width: 60vh;
}

.popup-container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(222, 87, 87);
	height: auto;
	width: auto;
	position: absolute;
	left: 42vw;
	top: 20%;
	padding: 2vh;
}

.popup {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gameboard {
	background-color: rgb(108, 108, 233);
	width: 100%;
	height: 100%;
	display: grid;
	grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
	gap: 5px;
}

.field {
	border: 1px solid black;
	height: 98.8%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#popup-container {
	display: none;
}

#player-selection {
	display: none;
}

#mode-selection {
	display: none;
}

#restart {
	box-shadow: 2px 2px 5px;
	font-size: 5vh;
	padding: 1vh 2vh;
}

#restart:hover {
	transform: scale(0.98);
	box-shadow: 0px 0px 0px;
	background-color: rgba(128, 128, 128, 0.418);
}

#gameover-popup {
	text-align: center;
	justify-content: center;
	height: 2vh;
	font-size: 3vh;
}
