body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: beige;
}

.content {
	height: 80vh;
	background-color: grey;
	width: 80vh;
}

.game-board {
	display: grid;
	grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
	grid-gap: 3px;
}

.field {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	height: 26.24vh;
}

.field:hover {
	background-color: beige;
}

.popup {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(110, 41, 41);
	height: 20vh;
	width: 40vh;
	border: 1px solid black;
	position: relative;
	bottom: 62%;
	left: 25%;
	font-size: clamp(5px, 4vh, 40px);
}

input[type="text"] {
	font-size: clamp(5px, 3vh, 40px);
	padding: 10px 20px;
}

h2 {
	margin: 0px;
	padding: 10px;
}
